<div class="jumbotron">
	<h1>Tasklist - Sua lista de tarefas</h1>
	<p class="lead">Já utilizou algum método para organizar suas tarefas e metas diárias? Com o Tasklist é fácil e rápido incluir, visualizar, ajustar e remover suas tarefas, além de obter o controle total de <u>situações</u> para configurá-las.</p>
	<p><a href="/sobre" class="btn btn-primary btn-lg">Comece agora mesmo! &raquo;</a></p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Sua Lista de Tarefas</h2>
		<p>Esta é sua lista de tarefas,você pode criar, editar, remover e alterar as <u>situações</u> a qualquer momento que você desejar.</p>
		<p><a class="btn btn-default" href="/sobre-nos">Acessar Tasklist &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h2>Primeiros passos</h2>
		<p>
			Tasklist é uma aplicação web direcionada para auxiliar na organização e controle de uma lista de tarefas.
			É muito fácil gerenciar suas atividades e ter visão das situações das tarefas com Tasklist. Faça um teste agora mesmo!
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Quero fazer um teste! &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h2>Clone este projeto</h2>
		<p><a class="btn btn-default" target="_blank" href="https://github.com/alisonjonck/tasklist">Ir para Github &raquo;</a></p>
	</div>
</div>
