<rules>
	<rule name="RedirectFrom-Account-To-Conta">
		<match url="^Account(/)?$" ignoreCase="true" />
		<action type="Redirect" redirectType="Permanent" url="Conta/Acessar" />
	</rule>
	<rule name="RedirectFrom-InternalAccount-To-Conta">
		<match url="^Account/(.*)$" ignoreCase="true" />
		<action type="Redirect" redirectType="Permanent" url="Conta/{R:1}" />
	</rule>
</rules>